
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500');

body {
  margin: 0;
  padding: 0;
  font-family: monospace;

  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contactLinks {
  color: #443542;
  text-decoration: none; /* no underline */
}

.centered{
  align: center;
}

.offGrey{
  color: #443542;
}

/* ============= Header Content Styling ====================== */

header{
  font-family: "Bookman Old Style" monospace;
  height: 100vh;
  /* background-image: url(enter your photo url here!); */
  /* background-color: #EAA0A2; */
  background-color: #FFBCBF;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.icon{
  margin-right: 1em;
  margin-left: 1em;
}

.IconText{
  color:#FFBCBF;
}

.NavIcon{
  display: inline-block;
}

.NavIcon:hover .IconText{
  color: #FFFDAF;
  cursor:default;
}
.NavIcon:hover .icon{
  color: #FFFDAF;
  cursor: pointer;
}



/* ============= NavBar Content Styling ====================== */

.NavBar{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  background-color: #3A4664;
  color: white;
  height: 5vh;
  display: flex;
  align-items: center; /* align vertical */
  padding-left: 7%;
}

.navOption:hover{
  color: #F4CD2A;
  cursor: pointer;
}

.NavBarColorSeperator{
  height: 3px;
  background-color: #AAAAAA;
}

/* ============= About Section Styling ======================= */

.SectionHeader{
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
  font-size: 35px;
  color: #443542;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
}


.About{
  color: #443542;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  display: flex;
}

img{
  width: auto;
  height: 60vh;
}

.aboutImg{
  padding-left: 3%;
}

.aboutText{
  font-size: 130%;
  padding-right: 10%;
  padding-left: 10%;
  word-wrap:break-word;
  overflow: auto;
}

/* ============= Portfolio Section Styling ======================= */


.Portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PortfolioGifs{
  display: flex;
}

.Skills{
  color: #443542;
}

.SkillsTable{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-spacing: 3em 0px;
}

#SkillsTable td {
    text-align: center;
    vertical-align: middle;
}

/* ============= Contact Section Styling ======================= */

.Contact{
  color: #443542;
}

.ContactTable{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.VerticalSpacer{
  height: 15vh;
}
.VerticalSpacer2{
  height: 8vh;
}

.HorizontalSpacer{
  padding-right: 1.5%;
  padding-left: 1.5%;
}

.HorizontalSpacer2{
  padding-right: 5%;
  padding-left: 5%;
}

/* ============= Contact Section Styling ======================= */

footer{
  height: 40px;
  background-color: #3A4664;
}
